body {
  font-family: "Sen", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/jakartaskyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 266px;
}

header h1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 1;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 3px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/kota\ tua.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }
}
